<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Details</title>
</head>
<body>
    <h1>Contact Details</h1>
<address>
        Near Lohiya Convent School Babrala Sambhal </address> <br>
            Personal Email-:Vishal243751@gmail.com <br>
            Linked-In:- <a href="https://www.linkedin.com/in/vishal-yadav-823045268/">Profile</a> <br>
            Pin Code:- 243751
            
        
   
</body>
</html>